/*** MEDIA QUERIES ***/

@media only screen and (min-width: 1024px) {
    #main {
      flex-direction: row;
    }
    
    div#filter-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
    }

    div.filter-options_input input {
        width: 280px;
        margin: 3em 0;
    }

    
    div.filter-options_categories{
        padding: 3em 0;
    }

    div.sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

}

@media only screen and (min-width: 1024px) {
    div#filter-options{
      width: 30%;
      margin-bottom: 0;
      padding: 1em;
      margin-right: 1%;
    }
}

@media only screen and (min-width: 1024px) {
    div.results{
      width: 70%;
      padding: 1em;
    }
}

@media only screen and (min-width: 555px) and (max-width: 768px){
    div.filtering{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 30px;
    }

    div.filter-options_categories,
    div.filter-options_price {
        width: 50%;
    }

    div.filter-options_categories{
        margin-right: 5px;
    }
}


@media only screen and (max-width: 767px) {
    div.single-product{
        width: 100%;
    }
}


@media only screen and (max-width: 425px) {
    span#send-up{
        display:none;
    }
}

